scikit-learn~=1.3.0
datasets~=3.1.0
transformers~=4.46.0
jupyter~=1.0.0
pip~=24.2
pathlib~=1.0.1
emoji~=1.7.0
panel~=1.2.1
attrs~=22.1.0
zlib~=1.2.13
wheel~=0.38.4
pysocks~=1.7.1
protobuf~=4.25.3
openssl~=1.1.1w
pyopenssl~=23.2.0
cryptography~=39.0.1
pillow~=10.3.0
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.3.2
jinja2~=3.1.2
dill~=0.3.8
future~=0.18.3
numpy~=1.24.3
pytz~=2022.7
requests~=2.32.3
dask~=2023.6.0
rich~=13.7.1
colorama~=0.4.6
ipywidgets~=8.0.4
ipython~=8.12.0
notebook~=6.5.7
yaml~=0.2.5
pyyaml~=6.0
idna~=3.4
multidict~=6.0.2
pytest~=7.4.0
charset-normalizer~=2.0.4
setuptools~=68.0.0
cffi~=1.15.1
numba~=0.57.0
typing_extensions~=4.7.1
regex~=2022.7.9
scipy~=1.10.1
threadpoolctl~=2.2.0
torch~=2.5.0
matplotlib~=3.7.1
blas~=1.0
mpmath~=1.3.0
sympy~=1.13.1
pooch~=1.4.0
platformdirs~=2.5.2
fsspec~=2024.9.0
snappy~=1.1.9
lz4~=4.3.2
zstandard~=0.19.0
distributed~=2023.6.0
aiohttp~=3.8.3
yarl~=1.8.1
paramiko~=2.8.1
ujson~=5.4.0
libarchive~=3.6.2
joblib~=1.2.0
psutil~=5.9.0
cloudpickle~=2.2.1
backports~=1.1
pandas~=1.5.3
openpyxl~=3.0.10
pyarrow~=18.0.0
sqlalchemy~=1.4.39
lxml~=4.9.2
markupsafe~=2.1.1
numexpr~=2.8.4
python-dateutil~=2.8.2
xxhash~=3.5.0
aiosignal~=1.2.0
frozenlist~=1.3.3
certifi~=2024.8.30
tzdata~=2023c
murmurhash~=1.0.10
urllib3~=1.26.16
huggingface_hub~=0.17.3
huggingface-hub~=0.26.1
tqdm~=4.66.6
packaging~=23.0
filelock~=3.9.0
multiprocess~=0.70.16
arrow~=1.2.3
six~=1.16.0
chardet~=4.0.0
pyparsing~=3.0.9
tokenizers~=0.20.1
safetensors~=0.4.5
pygments~=2.15.1
torchvision~=0.20.0
nltk~=3.8.1
beautifulsoup4~=4.12.2
sacremoses~=0.0.43
torchaudio~=2.5.0
fastapi~=0.103.0
pydantic~=2.5.3
starlette~=0.27.0
h5py~=3.11.0
msgpack-python~=1.0.3
transformers[torch]
accelerate>=0.26.0
flask
torch
transformers
