body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.card {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.hover-scale:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

textarea {
    resize: none;
}

.recipe-actions .action-icon {
    cursor: pointer;
    margin-left: 5px;
    transition: color 0.3s;
}

.recipe-actions .action-icon:hover {
    color: #6c757d;
}

.toast {
    background-color: #28a745;
    color: white;
}
